@model string

<div class="modal-footer">
	<button type="button" class="btn btn-primary">@Model</button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">выйти</button>
</div>
